################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SHI/CopilotIndices/17.14.786.1071
/.vs/SHI/FileContentIndex
/.vs
